:root {
  --background-color: #fefeff;
  --text-color: #000;
  --header-background-color: #7A7A7A;
  --footer-background-color: #606B73;
  --card-background-color: rgb(255, 255, 255);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-background-color);
}

footer {
  background-color: var(--footer-background-color);
}

.product-card {
  background-color: var(--card-background-color);
}

.about-container, .contact-container, .about-content, .contact-container a , #about-us, .compra,.product-form {
  background-color: var(--card-background-color);
  color: var(--text-color);
}

#cart-btn{
  background-image: url(/Media/IMG/carrote.png);
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
#cart-btn,#theme-toggle, #hamburger-btn, .add-to-cart-btn, .cart-sidebar button, #login, #registro, .submit-btn, 
.delete-button, #btn-modificar, #product-image,#agr,#btn-agregar,
#btn-mensaje,
#btn-eliminar {
  background-color: var(--btn-button-color);
}
#product-image{
  color: #f1f1f1;
}

.dark-mode {
  --background-color: #181818;
  --text-color: #f1f1f1;
  --header-background-color: #A69F95;
  --footer-background-color: #7A7A7A;
  --card-background-color: #252525;
}

.dark-mode nav a, .dark-mode #welcome-message {
  color: #f1f1f1;
}

.dark-mode footer a {
  color: #ddd;
}

html, body {
  height: 100%;
  margin:0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #fefeff;*/
  display:flex;
  flex-direction: column;
  
}

header {
  /*background-color: #120436;*/
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoI{
  width: 150px;
  height: 150px;
  border-radius: 5%;
}
nav {
  display: flex;
  gap: 10px;
}

nav a, #welcome-message {
  color: white;
  padding: 8px 15px;
  text-decoration: none;
}
#welcome-message {
  font-weight: bold;
  color: rgb(21, 83, 255);
  display: inline-block;
}

/* Estilo para el botón de hamburguesa */
.hamburger {
  display: none;
  background-color: #494949;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

h1 {
  margin: 20px 0;
}

main {
  flex: 1;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  padding: 20px;
}

.product-card {
 /* background-color: white;*/
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  margin: 5px 0;
}

.product-card .sold-out {
  color: red;
  font-weight: bold;
}

#logout-link {
  color: rgb(77, 183, 61);
  cursor: pointer;
}

#welcome-message {
  margin-right: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.compra {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.compra h3 {
  margin: 0 0 10px;
}

.compra ul {
  list-style-type: none;
  padding: 0;
}

.compra ul li {
  padding: 10px 0;
}

.compra p {
  font-weight: bold;
}

footer{
 /* background-color: #120436;*/
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.footerdiv{
  padding: 20px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.footerdiv1{
  padding-top: 20px; 
  }

.footerdiv2{
  color: white;
  text-align: left; 
}

footer a{
  text-decoration: none;
  color: rgb(234, 229, 229);
}

/* Para pantallas de hasta 768px (tablets y móviles en modo horizontal) */
@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  header, footer {
    text-align: center; 
  }

  nav {
    display: none; 
    flex-direction: column; 
    background-color: #4b4b4b;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  nav a {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  /* Muestra el botón de hamburguesa */
  .hamburger {
    display: block;
  }

  /* Muestra el menú cuando está activo */
  nav.active {
    display: flex;
  }
  
  .hamburger.active {
    content: "\2715"; 
  }

  .footerdiv {
    flex-direction: column;
    align-items: center;
  }

  .footerdiv1, .footerdiv2 {
    text-align: center;
  }

  .footerdiv2 ul {
    padding-left: 0;
  }

  .footerdiv2 ul li {
    list-style-type: none;
  }

}

/* Para pantallas de hasta 480px (móviles en modo vertical) */
@media screen and (max-width: 480px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px;
  }

  button, input {
    width: 100%; 
  }

  .hamburger.active {
    content: "\2715"; 
  }
}

/* Carrusel */
/* Contenedor del carrusel */
.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Carrusel */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500%;
}

/* Cada elemento del carrusel */
.carousel-item {
  min-width: 20%; 
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

/* Controles de navegación */
.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }

  .carousel-prev, .carousel-next {
    padding: 5px;
  }
}

.theme-toggle {
  padding: 15px 25px;
  border: 0;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.theme-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.theme-toggle:hover {
  color: #e8e8e8;
}

.theme-toggle:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.theme-toggle:active {
  transform: scale(80%);
}


.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* Fuera de la vista inicialmente */
  width: 300px;
  height: 100%;
  background-color: #444444;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease;
  padding: 20px;
  padding-top: 60px; /* Espacio para el botón de cierre */
  z-index: 1000;
}

.cart-sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cart-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.cart-sidebar ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.cart-sidebar p {
  font-size: 1em;
  margin: 10px 0;
}

.cart-sidebar button {
  width: 100%;
  padding: 10px;
  /*background-color: #120436;                //se usa bot+on con paleta de colores*/
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.cart-sidebar button:hover {
  background-color: #000000;
}

/* Mostrar el carrito cuando se activa la clase 'open' */
.cart-sidebar.open {
  right: 0;
}

.close-cart {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 10px; 
  right: 10px;
}

.close-cart:hover {
  color: #c00;
}

/* Estilos del fondo de superposición */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

.overlay.active {
  display: block;
}


